*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body, html{
  overflow: hidden;
  background-color: #0c0c0c;
}
.hidden{
  display: none;
}
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px 0 40px;
  flex-wrap: wrap;

}
.col-1{
  width: 40%;
  /* background-color: red; */
  height: 100vh;
  display: flex;
  align-items: center;
  /* clip-path: polygon(39% 0, 86% 0, 86% 100%, 38% 100%); */
  flex-direction: column;
  justify-content: space-around;
}
.col-2{
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.heading-box{
  width: 70%;
  height: 20%;
  background-color: rgb(78, 78, 212);
  color: white;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.5), 0 6px 20px 0 rgba(138, 137, 137, 0.3);
  border-radius: 15px;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings{
  width: 70%;
  height: 60%;
  background-color: rgb(78, 78, 212);
  color: white;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.5), 0 6px 20px 0 rgba(138, 137, 137, 0.3);
  border-radius: 15px;
  font-size: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  flex-direction: column;
  font-size: 2rem;
  /* padding: 70px 50px; */
  /* padding: 70px 0; */
}

.score{
  /* width: 30%; */
  padding: 0 10px;
  height: 25%;
  min-width: 30%;
  background: rgb(240, 238, 238);
  margin: auto;
  text-align: center;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Teko', sans-serif;
  font-size: 2.7rem;
  font-stretch: narrower;
  border-radius: 15px;
  /* /* line-height: 100px; */
  /* letter-spacing: -0.3px; */ 
  /* flex-wrap: nowrap; */
  /* overflow-wrap: tex; */
}
.hidden-score{
  display: none;
}
.settings-items{
  width: 100%;
  height: 30%;
  /* padding: 20px 0; */
  /* border: none; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.help{
  cursor: pointer;
  background-color: #0c0c0c;
  color: white;
  height: 50%;
  width: 35%;
  font-size: 1.6rem;
  text-align: center;
  box-shadow: 2px 3px 4px 0.5px #cccccc;
  border-radius: 15px;
  outline: none;
}
/* .settings-items:focus{
  /* font-size: 2.05rem;
  width: 82px;
  height: 82px;
} */
.level{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.level button{
  cursor: pointer;
  background-color: #0c0c0c;
  color: white;
  text-align: center;
  box-shadow: 2px 3px 4px 0.5px #cccccc;
  border-radius: 15px;
  outline: none;
  height: 50%;
  width: 40%;
  font-size: 1.4rem;
  font-weight: 600;
}
.easy{
  border-right: 0;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
.hard{
  border-left: 0;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}
.active{
  background-color: rgb(218, 5, 23)!important;
  border: rgb(218, 5, 23);
}
.pillar{
  background-color: white;
  height: 100vh;
  width: 12%;
  top: 0;
  z-index: 10;
  position: fixed;
  margin: auto;
  left: calc(20% - 6% + 40px);
}
.container{
  width: 85%;
  /* height: 80%; */
  background-color: rgb(177, 4, 4);
  margin: auto;
  /* margin-top: 100px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 3px;
  border-radius: 15px;
}
.full-square, .empty-square{
  width: 23%;
  height: 23%;
  border-radius: 15px;
}
.empty-square{
  background-color: rgb(157, 157, 252);
}
.full-square{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  color: white;
}
.full-square-2{
  background-color: rgb(87, 87, 212);
}
.full-square-4{
  background-color: rgb(23, 156, 245);
}
.full-square-8{
  background-color: rgb(3, 196, 131);
}
.full-square-16{
  background-color: rgb(104, 245, 23);
}
.full-square-32{
  background-color: rgb(211, 191, 17);
}
.full-square-64{
  background-color: rgb(218, 108, 5);
}
.full-square-128{
  background-color: rgb(29, 56, 207);
}
.full-square-256{
  background-color: rgb(85, 17, 211);
}
.full-square-512{
  background-color: rgb(122, 5, 218);
}
.full-square-1024{
  background-color: rgb(211, 5, 218);
}
.full-square-2048{
  background-color: rgb(218, 5, 23);
}



@media only screen and (max-width: 1000px){
  .heading-box{
    font-size: 4rem;
    width: 65%;
  }
  .col-1{
    padding-bottom: 40px;
  }
  .settings{
    width: 65%;
    height: 50%;
  }
}
@media only screen and (max-width: 900px){
  .pillar{
    width: 10%;
    left: calc(20% - 5% + 40px);
  }
  .heading-box{
    font-size: 4rem;
    width: 65%;
  }
  .settings{
    width: 65%;
  }
}
@media only screen and (max-width: 830px){
  .heading-box{
    font-size: 4rem;
    width: 65%;
  }
  .settings{
    width: 65%;
  }
  .container{
    width: 90%;
  }
  .full-square{
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px){
  .col-1{
    width: 100%;
    height: 35vh;
  }
  .col-2{
    margin-top: 20px;
    width: 100%;
    height: 65vh;
  }
  .row{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 40px 30px 40px 30px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
  }
  .container{
    height: 85%;
    z-index: 200;
  }
  .settings{
    width: 85%;
    height: 55%;
  }
  .heading-box{
    font-size: 2rem;
    width: 50%;
    height: 30%;
  }
  .pillar{
    left: calc(50% - 5%);
  }
  .full-square{
    font-size: 1.5rem;
  }

}
@media only screen and (max-width: 400px){
  .settings{
    width: 95%;
    height: 55%;
  }
  .heading-box{
    font-size: 2rem;
    width: 50%;
    height: 30%;
  }
  .container{
    height: 75%;
    z-index: 200;
  }
}

/* GAME OVER */
.game-going, .game-over{
  background: rgb(230,37,37);
  background: linear-gradient(225deg, rgba(230,37,37,1) 0%, rgba(160,115,241,1) 81%);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  /* width: 0; */
  /* display: none; */
  transition: all 2s;
}
.game-over{
  height: 100vh;
  font-size: 4rem;
  width: 100%;
  flex-direction: column;
}
.game-going{
  height: 0;
  font-size: 0;
  width: 100%;
}
.play-again{
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  box-shadow: 2px 3px 4px 0.5px #cccccc;
  outline: 0;
  border-radius: 15px;
  font-style: italic;
}


.play-again i{
  font-size: 2rem;
  padding-left: 10px;
}
.playing-now{
  font-size: 0rem;
  display: none;
}
@media only screen and (max-width: 900px){
  .help, .level button{
    height: 40%;
  }
}
@media only screen and (max-width: 800px){
  .game-over{
    font-size: 3rem;
  }
  .help, .level button{
    height: 35%;
  }
  .help{
    font-size: 1.1rem;
    height: 35%;
    /* padding: 20px 10px 20px; */
  }
  .level button{
    font-size: 1rem;
    height: 35%;
  }

}
@media only screen and (max-width: 700px){
  .game-over{
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px){
  .settings{
    flex-direction: row;
  }
  .settings-items, .level{
    height: 100%;
    align-items: center;
  }
  .score{
    height: 70%;
    align-items: center;
    width: 20%;
    padding-top: 5px;
    align-items: center;
    margin: auto;
  }
  .hidden-score{
    display: flex;
  }
  .hidden-score-1{
    display: none;
  }
  .help, .level button{
    height: 50%;
  }
  .help{
    font-size: 0.9rem;
  }
  .level button{
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 460px){
  .game-over{
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 400px){
  .game-over{
    font-size: 1.5rem;
  }
}