*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body, html{
  overflow-x: hidden;
  background-color: black;
}
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px 0 120px;
  flex-wrap: wrap;

}
.col-1{
  width: 30%;
  /* background-color: red; */
  height: 100vh;
  display: flex;
  align-items: center;
  /* clip-path: polygon(39% 0, 86% 0, 86% 100%, 38% 100%); */
  flex-direction: column;
  justify-content: space-around;
}
.col-2{
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.heading-box{
  width: 400px;
  height: 25%;
  background-color: rgb(78, 78, 212);
  color: white;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.5), 0 6px 20px 0 rgba(138, 137, 137, 0.3);
  border-radius: 15px;
  font-size: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings{
  width: 400px;
  height: 60%;
  background-color: rgb(78, 78, 212);
  color: white;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.5), 0 6px 20px 0 rgba(138, 137, 137, 0.3);
  border-radius: 15px;
  font-size: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillar{
  background-color: white;
  height: 100vh;
  width: 150px;
  top: 0;
  z-index: 10;
  position: fixed;
  margin: auto;
  left: 19%;
}
.container{
  width: 500px;
  height: 500px;
  background-color: rgb(177, 4, 4);
  margin: auto;
  /* margin-top: 100px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 3px;
  border-radius: 15px;
}
.full-square, .empty-square{
  width: 23%;
  height: 23%;
  border-radius: 15px;
}
.empty-square{
  background-color: rgb(157, 157, 252);
}
.full-square{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  color: white;
}
.full-square-2{
  background-color: rgb(87, 87, 212);
}
.full-square-4{
  background-color: rgb(23, 156, 245);
}
.full-square-8{
  background-color: rgb(3, 196, 131);
}
.full-square-16{
  background-color: rgb(104, 245, 23);
}
.full-square-32{
  background-color: rgb(211, 191, 17);
}
.full-square-62{
  background-color: rgb(218, 108, 5);
}
.full-square-128{
  background-color: rgb(29, 56, 207);
}
.full-square-256{
  background-color: rgb(85, 17, 211);
}
.full-square-512{
  background-color: rgb(122, 5, 218);
}
.full-square-1024{
  background-color: rgb(211, 5, 218);
}
.full-square-2048{
  background-color: rgb(218, 5, 23);
}

@media only screen and (max-width: 1270px){
  .row{
    padding: 0 0px 0 120px;
  
  }
}
@media only screen and (max-width: 1200px){
  .row{
    padding: 0 0px 0 120px;
  }
  .container{
    width: 400px;
    height: 400px;
  }
  .settings{
    width: 350px;
    height: 55%;
  }
  .heading-box{
    width: 350px;
    height: 20%;
    font-size: 7rem;
  }
  .pillar{
    width: 120px;
    left: 21%;
  }
}

@media only screen and (max-width: 1100px){
  .row{
    padding: 0 15px 0 120px;
  }
  .container{
    width: 400px;
    height: 400px;
  }
  .settings{
    width: 300px;
    height: 55%;
  }
  .heading-box{
    width: 300px;
    height: 18%;
    font-size: 6rem;
  }
  .pillar{
    width: 120px;
    left: 21%;
  }
}
@media only screen and (max-width: 1050px){
  .row{
    padding: 0 0px 0 120px;
  }
  .container{
    width: 350px;
    height: 350px;
  }
  .settings{
    width: 300px;
    height: 55%;
  }
  .heading-box{
    width: 300px;
    height: 15%;
    font-size: 6rem;
  }
  .col-1{
    padding-bottom: 60px;
  }
  .pillar{
    width: 120px;
    left: 21%;
  }
}
@media only screen and (max-width: 1050px){
  .row{
    padding: 0 0px 0 100px;
  }
  .container{
    width: 350px;
    height: 350px;
  }
  .settings{
    width: 280px;
    height: 55%;
  }
  .heading-box{
    width: 280px;
    height: 15%;
    font-size: 6rem;
  }
  .col-1{
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .pillar{
    width: 100px;
    left: 21%;
  }
}
@media only screen and (max-width: 870px){
  .row{
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
  }
  .container{
    width: 400px;
    height: 400px;
    z-index: 100;
  }
  .settings{
    width: 600px;
    height: 200px;
  }
  .heading-box{
    width: 280px;
    height: 100px;
    font-size: 5.4rem;
    margin-bottom: 40px;
  }
  .col-1{
    padding-bottom: 20px;
    padding-top: 30px;
    width: 80%;
    justify-content: flex-start;
    height: auto;
  }
  .col-2{
    width: 80%;
    align-items: flex-start;
    margin-top: 0;
    height: auto;
    padding-bottom: 100px;
  }
  .pillar{
    width: 150px;
    margin: auto;
    left: calc(50% - 75px);
  }
}
@media only screen and (max-width: 700px){
  .row{
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
  }
  .container{
    width: 300px;
    height: 300px;
    z-index: 100;
  }
  .settings{
    width: 600px;
    height: 100px;
  }
  .heading-box{
    width: 200px;
    height: 70px;
    font-size: 4rem;
    margin-bottom: 40px;
  }
  .col-1{
    padding-bottom: 20px;
    padding-top: 30px;
    width: 80%;
    justify-content: flex-start;
    height: auto;
  }
  .col-2{
    width: 80%;
    align-items: flex-start;
    margin-top: 0;
    height: auto;
    padding-bottom: 100px;
  }
  .pillar{
    width: 100px;
    margin: auto;
    left: calc(50% - 50px);
  }
}
@media only screen and (max-width: 650px){
  .row{
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
  }
  .container{
    width: 300px;
    height: 300px;
    z-index: 100;
  }
  .settings{
    width: 500px;
    height: 100px;
  }
  .heading-box{
    width: 200px;
    height: 70px;
    font-size: 4rem;
    margin-bottom: 40px;
  }
  .col-1{
    padding-bottom: 20px;
    padding-top: 30px;
    width: 80%;
    justify-content: flex-start;
    height: auto;
  }
  .col-2{
    width: 80%;
    align-items: flex-start;
    margin-top: 0;
    height: auto;
    padding-bottom: 100px;
  }
  .pillar{
    width: 100px;
    margin: auto;
    left: calc(50% - 50px);
  }
}
@media only screen and (max-width: 550px){
  .row{
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
  }
  .container{
    width: 300px;
    height: 300px;
    z-index: 100;
  }
  .settings{
    width: 400px;
    height: 130px;
  }
  .heading-box{
    width: 200px;
    height: 70px;
    font-size: 4rem;
    margin-bottom: 40px;
  }
  .col-1{
    padding-bottom: 20px;
    padding-top: 30px;
    width: 80%;
    justify-content: flex-start;
    height: auto;
  }
  .col-2{
    width: 80%;
    align-items: flex-start;
    margin-top: 0;
    height: auto;
    padding-bottom: 100px;
  }
  .pillar{
    width: 100px;
    margin: auto;
    left: calc(50% - 50px);
  }
}
@media only screen and (max-width: 470px){
  .row{
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
  }
  .container{
    width: 250px;
    height: 250px;
    z-index: 100;
  }
  .settings{
    width: 350px;
    height: 130px;
  }
  .heading-box{
    width: 200px;
    height: 70px;
    font-size: 4rem;
    margin-bottom: 40px;
  }
  .col-1{
    padding-bottom: 20px;
    padding-top: 30px;
    width: 80%;
    justify-content: flex-start;
    height: auto;
  }
  .col-2{
    width: 80%;
    align-items: flex-start;
    margin-top: 0;
    height: auto;
    padding-bottom: 100px;
  }
  .pillar{
    width: 100px;
    margin: auto;
    left: calc(50% - 50px);
  }
}
@media only screen and (max-width: 470px){
  .row{
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
  }
  .container{
    width: 280px;
    height: 280px;
    z-index: 100;
  }
  .settings{
    width: 280px;
    height: 180px;
  }
  .heading-box{
    width: 200px;
    height: 70px;
    font-size: 4rem;
    margin-bottom: 40px;
  }
  .col-1{
    padding-bottom: 20px;
    padding-top: 30px;
    width: 80%;
    justify-content: flex-start;
    height: auto;
  }
  .col-2{
    width: 80%;
    align-items: flex-start;
    margin-top: 0;
    height: auto;
    padding-bottom: 100px;
  }
  .pillar{
    width: 100px;
    margin: auto;
    left: calc(50% - 50px);
  }
}


